<!DOCTYPE html>
<html lang="en-GB">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="veraPDF test results.">
  <meta name="author" content="veraPDF Consortium">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta http-equiv="Content-Security-Policy" content="sandbox allow-scripts; default-src 'self' *.openpreservation.org; child-src 'self' *.openpreservation.org; style-src 'self' 'unsafe-inline' ">
  <title>veraPDF test data</title>

  <style media="screen" type="text/css">
    td {
      padding : 5px;
      font-size: 1.2em;
      font-weight: bold;
    }
    .pass {
      background-color: green;
      color: white;
    }
    .fail {
      background-color: red;
    }
    .undefined {
      background-color: orange;
    }
    </style>
</head>
<body>

  <div id="content">
    <h1>verPDF Corpus Integration Tests : {{gfDetails.dateCreated}}</h1>

    <div id="wrapper">
      <table id="layout">
      <!-- Header Row -->
        <tr>
          <th>
          {{#gfDetails}}
            <h2>{{foundryDetails.name}} v{{foundryDetails.version}}</h2>
            <h3>Dependencies</h3>
            {{#dependencies}}
            <p>{{id}} v{{version}}-{{buildDate}}</p>
            {{/dependencies}}
          {{/gfDetails}}
          </th>
        </tr>

        <!-- Summaries Row -->
        <tr>
          <td>
            {{#gfResults}}
            <h2 class="{{summary.passed}}"><a href="{{corpusDetails.name}}-{{validationProfile.PDFAFlavour.id}}/index.html" title="">{{corpusDetails.name}}-{{validationProfile.PDFAFlavour.id}}</a></h2>
            <pre>
Valid Cases: {{summary.validCases}} | passed: {{summary.validCasesPassed}} | failed: {{summary.validCasesFailed}}
Invalid: {{summary.invalidCases}} | passed: {{summary.invalidCasesPassed}} | failed: {{summary.invalidCasesFailed}}
Time Taken: {{summary.duration.duration}} | Memory Used: {{summary.memoryUsed}} MB
Exceptions: {{summary.exceptions}} | Undefined: {{summary.undefinedCases}} | Not Applicable: {{summary.inapplicableCases}}
            </pre>
            {{/gfResults}}
          </td>
        </tr>

      </table><!-- layout -->
    </div><!-- wrapper -->
  </div><!-- content>

</body>
</html>
